<?xml version="1.0" encoding="UTF-8"?>
<gui name="btrdasd-gui"
     version="5"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                          http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
  <MenuBar>
    <Menu name="file" >
      <text>&amp;File</text>
      <Action name="reindex" />
      <Action name="stats" />
      <Action name="restore" />
      <Separator/>
      <Action name="find_files" />
    </Menu>
    <Menu name="backup" >
      <text>&amp;Backup</text>
      <Action name="backup_run" />
      <Action name="backup_history" />
    </Menu>
    <Menu name="tools" >
      <text>&amp;Tools</text>
      <Action name="health" />
      <Action name="config_editor" />
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="reindex" />
    <Action name="stats" />
    <Action name="restore" />
    <Separator/>
    <Action name="backup_run" />
    <Action name="health" />
  </ToolBar>
  <ActionProperties>
    <Action name="backup_run" shortcut="Ctrl+B" />
    <Action name="restore" shortcut="Ctrl+R" />
    <Action name="reindex" shortcut="F5" />
  </ActionProperties>
</gui>
